  .container {
    height: 100%;
    width: 100%;
    display: flex; /* Add display: flex to the container */
    flex-direction: column; /* Set flex direction to column */
    background: #fff;
  }
  
  .alignCenter {
    flex: none; /* Allow alignCenter to grow to fill remaining space */
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }

  .card-title {
    width: 100%;
    font-size: 16px;
    height: 50px;
    background: #f2f2f2;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #1DA1F2;
  }

  .empName {
    font-size: 16px;
  }

  .card span, .card p {
    color: #949C9E;
  }

  .card p {
    margin: 5px 0;
  }

  .card span {
    font-size: 12px;
  }

  .card p {
    font-size: 14px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: fit-content; /* Adjust width for responsiveness */
    box-sizing: border-box; 
    width: 20%;
    margin: 2.5%;
    cursor: pointer;
  }

  .svg-container {
    margin-left: 0px;
  }
  .svg-container:hover {
    background: #ff737099 !important;
  }

  @media screen and (min-width: 768px) and (max-width: 1050px) {
    .card {
      width: 30%; 
      margin: 1.5%;
    }
  }

  @media screen and (min-width: 576px) and  (max-width: 768px) {
    /* .alignCenter {
      flex: 1;
    } */
  
    .card {
      width: 48%; 
      margin: 1%;
    }
  }

  @media (max-width: 576px) {
    /* .alignCenter {
      flex: 1;
    } */
    .card {
      width: 95%;
      margin: 2.5%; 
    }
  }